.slider {
   margin: 0 auto;
   overflow: hidden;
   user-select: none;
}
#slider-item {
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: nowrap; 
   /* transition: all ease 0.1s; */
}
#slider-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   height: auto;
   float: left;
}
#slider-item div {
   float: left;
   user-select: none;
   background-attachment: fixed;
   width: 128px;
   height: 128px;
}
#points {  
   user-select: none;
   margin: auto;
   margin-top: -30px; 
}
.div {
   width: 15px;
   height: 15px;
   background-color: black;
   border-radius: 10px;
   margin-right: 10px; 
   border: 1px solid white;
   background-color: #7C7C7C;
   display: inline-block;
   transition: all ease 0.4s;
}
.active {
   background:#E4E4E4;
}
.div:hover {
   cursor: pointer;
}
