.slider {
   width: 512px;
   height: 288px;
   margin: 40px auto;
   overflow: hidden;
   user-select: none;
}
#slider-item {
   width: 2048px;
   height: 288px;
   display: flex;
   flex-wrap: nowrap; 
   /* transition: all ease 0.1s; */
}
#slider-item img {
   width: 512px;
   height: 288px;
   float: left;
}
#slider-item div {
   float: left;
   user-select: none;
   background-attachment: fixed;
   width: 128px;
   height: 128px;
}
#points {
   margin-top: -30px;   
   user-select: none;
}
.div {
   width: 15px;
   height: 15px;
   background-color: black;
   border-radius: 10px;
   margin-right: 10px; 
   background-color: #7C7C7C;
   display: inline-block;
}
.active {
   background:#E4E4E4;
}
.div:hover {
   cursor: pointer;
}

@media screen and (max-width: 543px) {
   #slider-item img{
      width: 341px;
      height: 192px;
   }
   #slider-item {
      width: 1364px;
      height: 192px;
      
      /* transition: all ease 0.1s; */
   }
   .slider {
      width: 341px;
      height: 192px;
   }
}
@media screen and (max-width: 372px) {
   #slider-item img{
      width: 256px;
      height: 144px;
   }
   #slider-item {
      width: 1024px;
      height: 144px;
      
      /* transition: all ease 0.1s; */
   }
   .slider {
      width: 256px;
      height: 144px;
   }
}
