.slider {
   width: 256px;
   height: 128px;
   margin: 40px auto;
   overflow: hidden;
   user-select: none;
}
#slider-item {
   width: 768px;
   height: 128px;
   /* transition: all ease 0.1s; */
}
#slider-item div {
   float: left;
   user-select: none;
   background-attachment: fixed;
   width: 128px;
   height: 128px;
}
#points {
   margin-top: -30px;   
   user-select: none;
}
.div {
   width: 10px;
   height: 10px;
   background-color: black;
   border-radius: 5px;
   margin-right: 5px;
   font-size: 10px;
   display: inline-block;
}

